<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Товар</title>
    <link rel="icon" href="images/logo-small.svg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<h1>Товар</h1>
<ul style="display: flex;">
    {{range .}}
    <div class="card" style="width: 18rem;  margin: 10px;">
        <img class="card-img-top" src="{{ .ImageUrl }}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Название: {{ .Name }}</h5>
            <p class="card-text">Цена: {{ .Price }}</p>
        </div>
    </div>
    {{end}}
</ul>
</body>
</html>